<div class="row">
<!--sidebar-->
  <%= render'layouts/sidebar' %>
  <div class="col-10 pl-0">
<!--header-->
    <%= render'layouts/header' %>
    <%= render partial: 'layouts/flash' %>
    <main class="bg-light pb-5">
      <div class="container px-5">
        <div class="row py-4">
          <h1 class="px-4 mb-0 mt-3">レシピ編集</h1>
        </div>
        <hr>
        <%= form_with model: @recipe, url: recipe_path(@recipe) do |f| %>
          <div class="row custom-g-4">
            <div class="col-4">
              <%= f.label :レシピトップ画像, for:"recipe_image" ,class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.file_field :image, accept: "image/*", class: "form-control-file", id:"recipe_image" %>
            </div>
            <div class="col-8"></div>

            <div class="col-4">
              <%= f.label :レシピ名, for:"recipe_title", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id: "recipe_title" %>
            </div>
            <div class="col-2">
              <%= f.label :production_area_id, "産地名", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.collection_select :production_area_id, @production_areas, :id, :name, {}, { class: "btn btn-outline-secondary dropdown-toggle form-select", id: "production_area_name" } %>
            </div>
            <div class="col-6"></div>

            <div class="col-4">
              <%= f.label :使用豆, for:"beans_name",class: "form-label font-weight-bold fs-6 mt-3" %>
                <%= f.text_field :coffee_beans_name, autofocus: true, autocomplete: "coffee_beans_name", class: "form-control",id: "beans_name" %>
            </div>
            <div class="col-1">
              <%= f.label :焙煎度, for: "select_roast", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.select :roast, Recipe.roasts.keys.map {|k| [I18n.t("enums.recipe.roast.#{k}"), k]}, {}, {class: "btn btn-outline-secondary dropdown-toggle form-select"} %>
            </div>
            <div class="col-1"></div>
            <div class="col-2">
              <%= f.label :豆使用量, for:"beans_amount", class: "form-label font-weight-bold fs-6 mt-3" %>
              <div class="input-group">
                <%= f.text_field :amount, autofocus: true, autocomplete: "amount", class: "form-control", id: "beans_amount" %>
                <div class="input-group-append">
                  <div class="input-group-text">g</div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <%= f.label :挽目, for: "select_grind", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.select :grind, Recipe.grinds.keys.map {|k| [I18n.t("enums.recipe.grind.#{k}"), k]}, {}, {class: "btn btn btn-outline-secondary dropdown-toggle form-select"} %>
            </div>
            <div class="col-2"></div>

            <div class="col-2">
              <%= f.label :湯温, for: "temperature", class: "form-label font-weight-bold fs-6 mt-3" %>
              <div class="input-group">
                <%= f.text_field :temperature, autofocus: true, autocomplete: "temperature", class: "form-control", id: "temperature" %>
                <div class="input-group-append">
                  <div class="input-group-text">℃</div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <%= f.label :注湯量, for: "pouring_amount", class: "form-label font-weight-bold fs-6 mt-3" %>
              <div class="input-group">
                <%= f.text_field :total_pouring_amount, autofocus: true, autocomplete: "total_pouring_amount", class: "form-control", for: "pouring_amount" %>
                <div class="input-group-append">
                  <div class="input-group-text">ml</div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <%= f.label :抽出量, for: "extraction_amount", class: "form-label font-weight-bold fs-6 mt-3" %>
              <div class="input-group">
                <%= f.text_field :extraction_amount, autofocus: true, autocomplete: "extraction_amount", class: "form-control", id: "extraction_amount" %>
                <div class="input-group-append">
                  <div class="input-group-text">ml</div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <%= f.label :抽出時間, for: "extraction_time", class: "form-label font-weight-bold fs-6 mt-3" %>
              <div class="input-group">
                <%= f.text_field :total_extraction_time, autofocus: true, autocomplete: "total_extraction_time", class: "form-control", id: "extraction_time" %>
                <div class="input-group-append">
                  <div class="input-group-text">秒</div>
                </div>
              </div>
            </div>
            <div class="col-4"></div>

            <div class="col-4">
              <%= f.label :使用ドリッパー, for: "dripper", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.text_field :dripper, autofocus: true, autocomplete: "dripper", class: "form-control", id: "dripper" %>
            </div>
            <div class="col-4">
              <%= f.label :使用ペーパー, for: "paper", class: "form-label font-weight-bold fs-6 mt-3" %>
              <%= f.text_field :paper, autofocus: true, autocomplete: "paper", class: "form-control", id: "paper" %>
            </div>
            <div class="col-4"></div>

          </div>

          <hr>

          <div class="row my-4">
            <h5 class="col-12 font-weight-bold mb-4">抽出方法</h5>
            <!--<button class="btn btn-secondary btn-sm my-auto col-auto ms-3">+リアルタイム記録</button>--><!--未着手のため非表示-->
            <%= f.fields_for :pouring_details, local: true do |pouring_detail| %>
              <%= render 'pouring_detail_fields', f: pouring_detail %>
            <% end %>
            <div class="col-6 mx-auto">
              <%= link_to_add_association '注湯情報を追加', f, :pouring_details, class: "btn btn-primary btn-block my-3" %>
            </div>
          </div>

           <hr>

          <div class="row">
            <div class="col-10">
              <%= f.label :抽出のポイント・コツなど, for: "point", class: "form-label font-weight-bold mb-4 fs-5" %>
              <%= f.text_area :point, autofocus: true, autocomplete: "point", class: "form-control", id: "point", rows: "5" %>
            </div>
            <div class="col-2"></div>
          </div>

          <hr>

          <div class="row">
            <div class="col-5">
              <%= f.label :レシピの公開・非公開, class: "form-label font-weight-bold mb-4 fs-5" %>
              <div class="form-check ms-5">
                <label class="font-weight-bold text-muted mr-4"><%= f.radio_button :status, true, style:"transform:scale(1.5)" %><span class="fs-5 ml-2">公開</span></label>
                <label class="font-weight-bold text-muted"><%= f.radio_button :status, false, style:"transform:scale(1.5)"%><span class="fs-5 ml-2">非公開</span></label>
              </div>
            </div>
            <div class="col-7 mb-5"></div>
          </div>

          <div class="col-10 text-center my-5">
              <%= f.submit "変更を登録",class: "btn btn-success px-5 mr-4 font-weight-bold mb-5" %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>

