<div class="row">
<!--sidebar-->
  <%= render'layouts/sidebar' %>
  <div class="col-lg-10 col-md-9 col-sm-12 pl-0">
<!--header-->
    <%= render'layouts/header' %>
    <%= render partial: 'layouts/flash' %>

    <main class="bg-light pb-5">
      <div class="container-fluid">
        <div class="row py-4">
          <div class="col-12">
            <h1 class="px-4 mb-0 mt-3"><%= @title + "一覧" %><small>（全 <%= @recipes_count %> 件）</small></h1>
          </div>
        </div>

        <hr class="my-4">
<!--recipe_index-->
        <div class="row mb-5 px-5">
          <% @recipes.each do |recipe| %>
            <div class="col-md-3 mb-3">
              <div class="card mx-auto mt-4 shadow h-100 ">
                <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.get_image(300,300), class:"card-img-top"; %>
                <% end %>
                <div class="card-body">
                  <div class="row align-items-center mb-2">
                    <div class="col-2">
                      <%= image_tag recipe.user.image, width: "32", height: "32", class: "rounded-circle" %>
                    </div>
                    <div class="col-10">
                      <p class="card-title mb-0">
                        <%= link_to(recipe_path(recipe.id), class:"text-dark") do %>
                          <strong><i class="fa fa-mug-hot ml-1"></i><span> <%= recipe.name %></span></strong>
                        <% end %>
                      </p>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12">
                      <p class="card-text mb-1">説明：<%= recipe.point.truncate(21) %></p>
                      <span><i class="fas fa-user"></i> By <%= link_to recipe.user.name, user_share_recipes_path(recipe.user.id) %> ｜ </span>
                      <span><%= link_to "#{recipe.recipe_comments.count} コメント", recipe_path(recipe.id), class:"text-dark" %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class ="mx-auto mt-5" style="width: 300px;">
          <%= paginate @recipes%>
        </div>
      </div>
    </main>
  </div>
</div>

