<div class="row">
<!--sidebar-->
  <%= render'layouts/sidebar' %>
  <div class="col-10 ps-0">
<!--header-->
    <%= render'layouts/header' %>
    <main class="bg-light pb-5">
      <div class="container-fluid">
        <div class="row py-4">
          <h1 class="px-4 mb-0 mt-3"><%= @title + "一覧" %><small>（全 <%= @recipes_count %> 件）</small></h1>
        </div>

        <hr>
<!--recipe_index-->
        <div class="row row-cols-1 row-cols-md-4 g-3 mb-5 px-5 mb-5">
          <% @recipes.each do |recipe| %>
            <div class="col pe-0">
              <div class="card mx-auto mt-4 shadow h-100 ">
                <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.get_image(300,300), class:"card-img-top"; %>
                <% end %>
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <%= image_tag recipe.user.image, width: "32", height: "32", class: "rounded-circle" %>
                    </div>
                    <div class="col-10">
                      <p class="card-title">
                        <%= link_to(recipe_path(recipe.id), class:"text-dark") do %>
                          <strong><i class="fa-solid fa-mug-hot"></i><span> <%= recipe.name %></span></strong>
                        <% end %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="card-text">説明：<%= recipe.point.truncate(21) %></p>
                      <span><i class="fas fa-user"></i> By <%= link_to recipe.user.name, user_share_recipes_path(recipe.user.id) %> ｜ </span>
                      <span><%= link_to "#{recipe.recipe_comments.count} コメント", recipe_path(recipe.id), class:"text-dark" %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class ="mx-auto mt-5" style="width: 300px;">
          <%= paginate @recipes, theme: 'bootstrap-5' %>
        </div>
      </div>
    </main>
  </div>
</div>

