<div class="row">
  <!--===== sidebar start =====-->
      <%= render'layouts/sidebar' %>
  <!--===== sidebar end =====-->
    <div class="col-10 pl-0">
  <!--===== topbar start =====-->
      <%= render'layouts/header' %>
      <%= render partial: 'layouts/flash' %>
  <!--===== topbar end =====-->
  <main class="bg-light pb-5">
  <!--===== top_img start =====-->
<div class="mb-4 px-0 card bg-dark text-white shadow-sm container-fluid rounded-0">
      <%= image_tag 'top_img.jpg', class: "top_img bd-placeholder-img bd-placeholder-img-lg card-img-top shadow-sm", height:"400px";%>
      <div class="card-img-overlay d-flex">
        <div class="top_img_bgcolor my-auto mr-auto p-5 text-center">
          <h5 class="card-title">CoffeeDrippers</h5>
          <p class="card-text">ハンドドリップレシピ共有サイト</p>
        </div>
      </div>
    </div>
  <!--===== top_img end =====-->
  <!--===== top_cards start =====-->
  <div class="container mt-5">
    <h2 class="mb-3">人気レシピ</h2>
    <div class="row mx-5">
      <% @recipe_rank.each do |recipe| %>

        <div class="col-md-4 col-12 mb-4">
          <div class="card mx-auto mt-4 shadow h-100">
                <!--<div class="card-img-top" , width="100%">-->
                  <%= link_to recipe_path(recipe.id) do %>
                    <%= image_tag recipe.get_image(300,300), class:"cover-image card-img-top", width: "100%"%>
                  <% end %>
                <!--</div>-->
                <div class="card-body">
                  <div class="row align-items-center mb-2">
                    <div class="col-2">
                      <%= image_tag recipe.user.image, width: "32", height: "32", class: "rounded-circle" %>
                    </div>
                    <div class="col-10">
                      <p class="card-title mb-0">
                        <%= link_to(recipe_path(recipe.id), class:"text-dark") do %>
                          <strong><i class="fa fa-mug-hot ml-1"></i><span> <%= recipe.name %></span></strong>
                        <% end %>
                      </p>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12">
                      <p class="card-text mb-1">説明：<%= recipe.point.truncate(21) %></p>
                      <span><i class="fas fa-user"></i> By <%= link_to recipe.user.name, user_share_recipes_path(recipe.user.id) %> ｜ </span>
                      <span><%= link_to "#{recipe.recipe_comments.count} コメント", recipe_path(recipe.id), class:"text-dark" %></span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-right my-5 mr-5" >
    <%= link_to "すべてのレシピを見る", recipes_path, class: "btn btn-outline-info shadow-sm mr-5" %>
  </div>
  <!--===== top_cards end =====-->
  </main>
    </div>
    </div>

