
<div class="row">
  <!--===== sidebar start =====-->
    <%= render'layouts/admin_sidebar' %>
  <!--===== sidebar end =====-->
  <div class="col-10">
  <!--===== topbar start =====-->
    <%= render'layouts/admin_header' %>
  <!--===== sidebar end =====-->
  <!--===== main start =====-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header">
            <h3 class="px-4">産地編集</h3>
          </div>

          <%= form_with model: @production_area, url: admin_production_area_path(@production_area), class: "form-inline", local: true do |f| %>
            <div class="form-group my-3">
              <label class="mr-3">産地名</label>
              <%= f.text_field :name, class: "form-control mr-3" %>
            </div>
            <%= f.submit '変更を保存', class: "btn btn-success"%>
          <% end %>



  </div>
      </div>
    </div>
  <!--===== main end =====-->
  </div>
</div>

