
<div class="row">
  <!--===== sidebar start =====-->
    <%= render'layouts/admin_sidebar' %>
  <!--===== sidebar end =====-->
  <div class="col-10">
  <!--===== topbar start =====-->
    <%= render'layouts/admin_header' %>
  <!--===== sidebar end =====-->
  <!--===== main start =====-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
          <div class="page-header">
            <h3 class="px-4">ユーザー一覧</h3>
          </div>
          <table class="table table-hover col-10 offset-2 mx-auto">
            <thead class="table-dark bg-secondary">
              <tr>
                <th scope="col">ユーザーID</th>
                <th scope="col">名前</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.id %>
                  </td>
                  <td class="text-dark">
                    <%= link_to admin_user_path(user), class: "text-reset" do %>
                    <%= user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <% if user.is_deleted == false %>
                      <div class="text-success font-weight-bold"><%= user.is_deleted ? '退会' : '有効' %></div>
                    <% else %>
                      <div class="text-black-50 font-weight-bold"><%= user.is_deleted ? '退会' : '有効' %></div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
            <div class ="mx-auto" style="width: 300px;">
              <%= paginate @users %>
            </div>
        </div>
      </div>
    </div>
  <!--===== main end =====-->
  </div>
</div>

