<section class="row top-bar">
  <div class="bg-primary position-absolute h-100 top-0 left-0 zindex-100 col-lg-6 col-xl-6 zindex-100 d-none d-lg-flex flex-column justify-content-end" data-bg-size="cover" data-bg-position="center">
    <%= image_tag 'top_img.jpg', class: "img-as-bg" %>
  </div>
  <div class="container-fluid d-flex flex-column">
    <div class="row align-items-center justify-content-center justify-content-lg-end min-vh-100">
      <div class="col-sm-7 col-lg-6 col-xl-6 py-6 py-md-0">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-10 col-xl-6">
            <div>
              <div class="mb-5">
                <h6 class="h3 mb-1 title-color">Welcome back!</h6>
                <p class="mb-0 font-color">良いコーヒータイムを！！</p>
              </div>
              <%= form_with model: @user, url: user_session_path, local: true do |f| %>
                <div class="form-group">
                  <%= f.label "ユーザーネーム", class: "form-label font-color" %>
                  <div class="input-group">
                      <span class="input-group-text">
                        <i class="fa-solid fa-user"></i>
                      </span>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label "Eメールアドレス", class: "form-label font-color" %>
                  <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-envelope"></i>
                      </span>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label "パスワード", class: "form-label font-color" %>
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa-solid fa-key"></i>
                    </span>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                  </div>
                </div>
                <div class="mt-4">
                  <%= f.submit "ログイン", class: "btn btn-primary primary-600 w-100" %>
                </div>
              <% end %>
              <div class="py-3 text-center">
                <span class="text-xs text-uppercase font-color">又は</span>
              </div>
              <div>
                <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post, class: "btn btn-success success-600 w-100" %>
              </div>
              <%= render "public/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>