<div class="row">
  <!--===== sidebar start =====-->
  <%= render'layouts/sidebar' %>
  <!--===== sidebar end =====-->
  <div class="col-10 pl-0">
  <!--===== topbar start =====-->
    <%= render'layouts/header' %>
  <!--===== topbar end =====-->
    <main class="bg-light vh-100">
  <!--===== top_img start =====-->
      <div class="card mb-3">
        <%= image_tag 'user_top.jpg', class: "top_img bd-placeholder-img bd-placeholder-img-lg", height:"200px";%>
        <div class="card-body user-header">
          <%= image_tag @user.get_user_image(90,90), class: "rounded-circle user-img" %>
          <h2 class="card-title user-header-name">@<%= @user.name %></h2>
          <%= render'layouts/follow_button' %>
        </div>
      </div>
  <!--===== top_img end =====-->
  <!--===== tab start =====-->
      <div class="px-5">
        <ul class="nav nav-tabs" role="tablist">
          <% if @user == current_user %>
            <li class="nav-item" role="presentation">
              <%= link_to "レシピ", user_recipes_path, class: "nav-link border text-muted" %>
            </li>
          <% else %>
          <% end %>
          <% if @user == current_user %>
            <li class="nav-item" role="presentation">
              <%= link_to "公開レシピ", user_share_recipes_path, class: "nav-link border text-muted" %>
            </li>
          <% else %>
            <li class="nav-item" role="presentation">
              <%= link_to "レシピ", user_share_recipes_path, class: "nav-link border text-muted" %>
            </li>
          <% end %>
          <li class="nav-item" role="presentation">
            <%= link_to "マイレシピ", user_my_recipes_path, class: "nav-link border text-muted" %>
          </li>
          <li class="nav-item" role="presentation">
            <%= link_to "フォロー", user_followings_path, class: "nav-link active" %>
          </li>
          <li class="nav-item" role="presentation">
            <%= link_to "フォロワー", user_followers_path, class: "nav-link border text-muted" %>
          </li>
        </ul>
        <%= render'layouts/follow_list' %>
      </div>
  <!--===== tab end =====-->
    </main>
  </div>
</div>

