<div class="col-2 pe-0">
  <div class="d-flex flex-column p-3 pe-0">
  <!--===== logo start =====-->
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      
      <span class="fs-5 fw-semibold">Coffee Drippers</span>
    </a>
  <!--===== logo end =====-->
    <hr>
  <!--===== nav_list start =====-->
    <span class="border rounded-pill border-4 ms-0 me-auto p-1 mb-1">レシピを探す</span>

    <%= search_form_for @search, url: recipes_path, class: "d-flex pe-1" do |f| %>
        <%= f.text_field :name_cont , class: "form-control me-2",placeholder: 'Search' %>
          <%= button_tag type: "submit", class: "btn btn-outline-success" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
    <% end %>

    <ul class="list-unstyled ps-0 d-lg-block navbar-nav">

      <li class="nav-item mb-1">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#production_area" aria-expanded="false" aria-controls="production_area">
          産地名で探す
        </a>
        <div class="collapse" id="production_area">
          <ul class="nav nav-small flex-column">
            <% @production_areas.each do |production_area| %>
              <li class="nav-item">
                <%= link_to production_area.name, recipes_path(production_area_id: production_area.id), class: "nav-link link-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>

      <li class="nav-item mb-1">
        <% if user_signed_in? %>
          <%= link_to "マイレシピ", user_my_recipes_path(current_user), class:"nav-link" %>
        <% else %>
          <%= link_to "マイレシピ", "#", class:"nav-link text-muted" %>
        <% end %>
        <!--<a class="nav-link" href="#">マイレシピ</a>-->
      </li>

      <li class="nav-item mb-1">
        <%= link_to "レシピ一覧", recipes_path, class:"nav-link" %>
      </li>
    </ul>

    <hr>

<span class="border rounded-pill border-4 ms-0 me-auto p-1 mb-1">レシピを記録する</span>

    <ul class="list-unstyled ps-0 d-lg-block navbar-nav">
      <li class="nav-item mb-1">
        <%= link_to "レシピを書く", new_recipe_path, class:"nav-link"%>
        <!--<a class="nav-link" href="#">レシピを書く</a>-->
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">記録方法</a>
      </li>
    </ul>

    <hr>

    <ul class="list-unstyled ps-0 d-lg-block navbar-nav">
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">利用規約</a>
      </li>
      <li class="nav-item mb-1">
        <a class="nav-link" href="#">プライバシーポリシー</a>
      </li>
    </ul>
  <!--===== nav_list end =====-->
  </div>
</div>
